.pluto {
    height: 780px;
    width: 780px;
    margin-top: -450px;
    margin-left: -320px;
    -webkit-animation: orb 7439.7074054575s linear infinite;
            animation: orb 7439.7074054575s linear infinite;
  }
  .pluto:before {
    height: 3px;
    width: 3px;
    background: #fff;
    margin-top: -1.5px;
    margin-left: -1.5px;
  }