.mercury {
    height: 70px;
    width: 70px;
    margin-top: -35px;
    margin-left: -35px;
  }
  .mercury:before {
    height: 4px;
    width: 4px;
    background: #9f5e26;
    margin-top: -2px;
    margin-left: -2px;
  }