.mercury {
    height: 70px;
    width: 70px;
    margin-top: -35px;
    margin-left: -35px;
    -webkit-animation: orb 7.1867343561s linear infinite;
            animation: orb 7.1867343561s linear infinite;
  }
  .mercury:before {
    height: 4px;
    width: 4px;
    background: #9f5e26;
    margin-top: -2px;
    margin-left: -2px;
  }