.earth {
    height: 145px;
    width: 145px;
    margin-top: -72.5px;
    margin-left: -72.5px;
    -webkit-animation: orb 30s linear infinite;
            animation: orb 30s linear infinite;
  }
  .earth:before {
    height: 6px;
    width: 6px;
    background: #11abe9;
    margin-top: -3px;
    margin-left: -3px;
  }
  .earth:after {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 50%;
    top: 0px;
    margin-left: -9px;
    margin-top: -9px;
    border-radius: 100px;
    box-shadow: 0 -10px 0 -8px grey;
    -webkit-animation: orb 2.2440352158s linear infinite;
            animation: orb 2.2440352158s linear infinite;
  }