.venus {
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }
  .venus:before {
    height: 8px;
    width: 8px;
    background: #beb768;
    margin-top: -4px;
    margin-left: -4px;
  }