h1 {
    font-weight: 300;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: Lato;
    line-height: 1.6em;
    letter-spacing: 0.1em;
  }
  
  .description {
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    z-index: 999;
  }
  .description p {
    font-size: 0.9em;
  }
  .description p + p {
    margin-top: 20px;
  }
  .description p.author {
    font-size: 0.7em;
  }
  .description p.author .fa-heart {
    color: #860014;
  }
  
  hr {
    margin: 26px 0;
    border: 0;
    border-top: 1px solid white;
    background: transparent;
    width: 25%;
    opacity: 0.1;
  }
  
  code {
    color: #ae94c0;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.9em;
  }