.jupiter {
    height: 340px;
    width: 340px;
    margin-top: -170px;
    margin-left: -170px;
  }
  .jupiter:before {
    height: 18px;
    width: 18px;
    background: #c76e2a;
    margin-top: -9px;
    margin-left: -9px;
  }